build/**
*.egg-info
docs/build/**
*.pyc
tutorials/__pycache__
tutorials/coreshell_disk/.ipynb_checkpoints/*
tutorials/coreshell_disk/HDF5
tutorials/pybind/.ipynb_checkpoints/*
tutorials/pybind/*.log
tests/validation/circle_lattice_test*
tests/validation/3Dsphere_test*
tests/validation/CoreShelltest*
tests/validation/grating_test*
tests/validation/spheretest_*
tests/validation/.ipynb_checkpoints/*
tests/validation/lib/__pycache__
tests/validation/*.log
.ipynb_checkpoints
NRSS/.ipynb_checkpoints
