build/**
dist/**
*.egg-info
docs/build/**
*.pyc
src/NRSS_tutorials/__pycache__
src/NRSS_tutorials/coreshell_disk/.ipynb_checkpoints/*
src/NRSS_tutorials/coreshell_disk/HDF5
src/NRSS_tutorials/pybind/.ipynb_checkpoints/*
src/NRSS_tutorials/pybind/*.log
src/NRSS_tutorials/MWCNTs/Data
src/NRSS_tutorials/polymer_grafted_nanoparticles/.ipynb_checkpoints/*
src/NRSS/_version.py
tests/validation/circle_lattice_test*
tests/validation/3Dsphere_test*
tests/validation/CoreShelltest*
tests/validation/grating_test*
tests/validation/spheretest_*
tests/validation/.ipynb_checkpoints/*
tests/validation/lib/__pycache__
tests/validation/*.log
*CyRSoXS.log
.ipynb_checkpoints
NRSS/.ipynb_checkpoints
*.DS_store
*pickles*
*videos*
